@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Remove bold */
    font-size: inherit;  /* Change font size */
    /* Add any additional styling */
}

.headerButton {
    transition: all .2s ease-in-out;
    color: #606c38;
}

.headerButton:hover {
    transform: scale(1.1);
    color: #dda15e;
}

.portrait {
    transition: all .2s ease-in-out;
}

.portrait:hover {
    transform: scale(1.1);
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/joshbackground.jpg");
  
    /* Set a specific height */
    height: 50%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }